
.icon-thumbs-up:before { content: '\e800'; } /* '' */
.icon-thumbs-up-1:before { content: '\e801'; } /* '' */
.icon-thumbs-up-2:before { content: '\e802'; } /* '' */
.icon-thumbs-up-3:before { content: '\e803'; } /* '' */