.wrapper {
    margin: auto;
    text-align: center;
}
body{
    font-family: 'Catamaran', sans-serif;
    background-color: rgb(0, 0, 0);
    width: 98%;
}

ul li {
    list-style: none;
    display: inline;
    position: relative;
    left: 10px;
    padding-right: 10px;
    top:20px;
}

i {
    color: white;
}

a {
    color: white;
}

a:hover {
    color: white;
}

a:visited {
    color: white;
}


h1, h2, h3 {
    color: white;
    margin: 0;
}
h1{
    font-family: 'Open+Sans', sans-serif;
}

.bar {
    height: 1px;
    width: 30%;
    background-color: white;
}
#rck {
    bottom: -40px;
    position: fixed;
    right: -60px;
    z-index: -100;
}
.notified {
    position: fixed;
    color: white;
    left: 200px;
    cursor: pointer;
    top: 2px;
}
.contacts {
    color: white;
    
    bottom: 0;
    font-size: 1.1em;
}
.logo {
    width: 180px;
    margin-top: 30px;
}
.logo1 {
    width: 120px;
    height: 120px;
}
.logos{
    text-align: center;
}
a{
    text-decoration: none !important;
    background-color: transparent;
}
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    max-width: 500px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
.overlay {overflow-y: auto;}
.overlay a {font-size: 20px}
.overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}
}

a.animated-button:link, a.animated-button:visited {
position: relative;
display: block;
margin: 30px auto 0;
padding: 14px 15px;
color: #fff;
font-size:14px;
font-weight: bold;
text-align: center;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
letter-spacing: .08em;
border-radius: 0;
text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
a.animated-button:link:after, a.animated-button:visited:after {
content: "";
position: absolute;
height: 0%;
left: 50%;
top: 50%;
width: 150%;
z-index: -1;
-webkit-transition: all 0.75s ease 0s;
-moz-transition: all 0.75s ease 0s;
-o-transition: all 0.75s ease 0s;
transition: all 0.75s ease 0s;
}
a.animated-button:link:hover, a.animated-button:visited:hover {
color: #FFF;
text-shadow: none;
}
a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
height: 450%;
}
a.animated-button:link, a.animated-button:visited {
position: relative;
display: block;
margin: 30px auto 0;
padding: 14px 15px;
color: #fff;
font-size:14px;
border-radius: 0;
font-weight: bold;
text-align: center;
text-decoration: none;
text-transform: uppercase;
overflow: hidden;
letter-spacing: .08em;
text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
-o-transition: all 1s ease;
transition: all 1s ease;
}
a.animated-button.thar-one {
color: #fff;
cursor: pointer;
display: block;
position: relative;
border: 2px solid rgb(31, 159, 180);
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-one:hover {
color: #000 !important;
background-color: transparent;
text-shadow: none;
}
a.animated-button.thar-one:hover:before {
bottom: 0%;
top: auto;
height: 100%;
}
a.animated-button.thar-one:before {
display: block;
position: absolute;
left: 0px;
top: 0px;
height: 0px;
width: 100%;
z-index: -1;
content: '';
color: #000 !important;
background: rgb(31, 159, 180);
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two {
color: #fff;
cursor: pointer;
display: block;
position: relative;
border: 2px solid rgb(31, 159, 180);
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-two:hover {
color: #000 !important;
background-color: transparent;
text-shadow: ntwo;
}
a.animated-button.thar-two:hover:before {
top: 0%;
bottom: auto;
height: 100%;
}
a.animated-button.thar-two:before {
display: block;
position: absolute;
left: 0px;
bottom: 0px;
height: 0px;
width: 100%;
z-index: -1;
content: '';
color: #000 !important;
background: rgb(31, 159, 180);
transition: all 0.4s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
a.animated-button.thar-three {
color: #fff;
cursor: pointer;
display: block;
position: relative;
border: 2px solid rgb(31, 159, 180);
transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-three:hover {
color: #000 !important;
background-color: transparent;
text-shadow: nthree;
}
a.animated-button.thar-three:hover:before {
left: 0%;
right: auto;
width: 100%;
}
a.animated-button.thar-three:before {
display: block;
position: absolute;
top: 0px;
right: 0px;
height: 100%;
width: 0px;
z-index: -1;
content: '';
color: #000 !important;
background: rgb(31, 159, 180);
transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-four {
color: #fff;
cursor: pointer;
display: block;
position: relative;
border: 2px solid rgb(31, 159, 180);
transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}
a.animated-button.thar-four:hover {
color: #000 !important;
background-color: transparent;
text-shadow: nfour;
}
a.animated-button.thar-four:hover:before {
right: 0%;
left: auto;
width: 100%;
}
a.animated-button.thar-four:before {
display: block;
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 0px;
z-index: -1;
content: '';
color: #000 !important;
background: rgb(31, 159, 180);
transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
0s;
}

.bttn {
margin: 0;
max-width: 300px;
}

@media (max-width: 2200px) {
    #clock {
        margin-left: 35em;
    }
}

@media (max-width: 2000px) {
    #clock {
        margin-left: 42em;
    }
}

@media (max-width: 1900px) {
    #clock {
        margin-left: 35em;
    }
}

@media (max-width: 1700px) {
    #clock {
        margin-left: 28em;
    }
}

@media (max-width: 1500px) {
    #clock {
        margin-left: 24em;
    }
}

@media (max-width: 1300px) {
    #clock {
        margin-left: 20em;
    }
}

@media (max-width: 1200px) {
    #clock {
        margin-left: 11em;
    }
}

@media (max-width: 1000px) {
    #clock {
        margin-left: 7em;
    }
}

@media (max-width: 900px) {
    #clock {
        margin-left: 6em;
    }
    .social {
        text-align:center;
    }
}

@media (max-width: 800px) {
    #clock {
        margin-left: 0em;
    }
}

@media (max-width: 700px) {
    #clock {
        margin-left: 0em;
    }
    .social {
        text-align:center;
    }
}

@media (max-width: 600px) {
    #clock {
        margin-left: 0em;
        display: none;
    }
    #footer{
        text-align: center;
    }
}

@media (max-width: 400px) {
    #clock {
        margin-left: 0em;
        display: none;
    }
    #footer{
        text-align: center;
    }
}

@media (max-width: 200px) {
    #clock {
        margin-left: 0em;
        display: none;
    }
    #footer{
        text-align: center;
    }
}

#month1{
text-align: center;
float: left;
width: 60px;
height: 100px;
top: ;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#month2{
text-align: center;
float: left;
width: 60px;
margin-right: 1em;
height: 100px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#day1{
float: left;;
width: 60px;
height: 100px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
text-align: center;
}
#day2{
text-align: center;
float: left;
width: 60px;
margin-right: 1em;
height: 100px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#hour1{
text-align: center;
float: left;
width: 60px;
height: 100px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#hour2{
text-align: center;
float: left;
width: 60px;
height: 100px;
margin-right: 1em;
left: 340px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#minute1{
text-align: center;    
float: left;
width: 60px;
height: 100px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
color:red;
font-weight:bold;
}
#minute2{
text-align: center;    
float: left;
position: ;
width: 60px;
height: 100px;
margin-right: 1em;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#second1{
text-align: center;    
float: left;
width: 60px;
height: 100px;
background-repeat: no-repeat;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
#second2{
text-align: center;
float: left;
width: 60px;
height: 100px;
background-repeat: no-repeat;
margin-right: 1em;
background-image: url(http://www.chabudai.org/temp/wonderfl/honehone/img/honehone1.gif);
}
