.container {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: #222222;
}

svg {
  margin: -400px -200px 0 0;
  position: fixed;
  height: 100%;
}

.lines {
  opacity: 0.05;
}

.line {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #4C3A90;
}

.lights {
  opacity: 0.9;
}

.light {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #7A6BB5;
}
