html {
  height: 100%;
}

.columns {
    position: relative;
    padding-top: 5em;
}

.row > .card {
    float: left;
    text-align: center;
}

.popup1 > .row > .card{    
    margin: 0 auto; /* Added */
    float: none;
    margin-bottom: 2em; /* Added */
}

.popup2 > .row {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 2em; /* Added */
}

#left, #right {
  background-color: white;
  border: 5px solid black;
  border-radius: 30px;
  width: 98%;
  margin-bottom: 5em; 
  /*height: 500px; */
}

#left:hover, #right:hover {
  cursor: pointer;
  border-radius: 30px;
  /*box-shadow: 0 40px 48px 0 rgba(0, 0, 0, 0.4), 0 46px 60px 0 rgba(0, 0, 0, 0.4);*/
  -webkit-box-shadow:0 0 50px rgba(0, 0, 0, 0.5);
  -moz-box-shadow:0 0 50px rgba(0, 0, 0, 0.5);
  box-shadow:0 0 50px rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.formopen {
    margin-top: -15%;
}

.top-head {
    position: relative;
    text-align: center;
    font-size: 4em;
    font-family: 'Dosis', sans-serif;
}

.logo {
  text-align: center;
  color: #000;
  font-size: 7em;
  padding-top: 15%;
  padding-left: 41%;
  z-index: 100;
}

.name {
  padding-top: 15%;
  font-size: 2em;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.1em;
  z-index: 100;
}

.footer {
  font-family: 'Dosis', sans-serif;
}

ul.footer-menu {
    text-align: right;
}
ul.footer-menu li {
    display: inline-block;
}
ul.footer-menu li a {
    font-size: 12px;
    color: #2a2a2a;
    padding-right: 20px;
}
ul.footer-menu li a:hover {
    color: #dd5138;
}

.logo1 {
  text-align: center;
  color: #000;
  font-size: 7em;
  padding-top: 15%;
  padding-left: 42%;
  z-index: 100;
}

.name1 {
  padding-top: 15%;
  font-size: 2em;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
  letter-spacing: 0.1em;
  z-index: 100;
}

#exit {
  left: 0.9em;
  top: 0.3em;
  font-size: 4em;
  z-index: 200;
  background-color: black;
}

.card-buttons {
    text-align: center;
    padding-bottom: 0.2em;
}

@media (max-width: 5000px) {
    .top-head-mobile {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 800px) {
    #exit {
        left: 0.3em;
        top: 0.8em;
    }
    .top-head {
        font-size: 3em;
    }
    .top-head-mobile {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 600px) {
    .top-head {
        display: none;
        visibility: hidden;
    }
    .top-head-mobile {
        text-align: center;
        font-size: 2em;
        display: block;
        visibility: visible;
    }
}
  