RewriteEngine on
RewriteRule ^AMS_tagde profile.html
RewriteRule ^CodHeK profile.html
RewriteRule ^Dewan profile.html
RewriteRule ^Dwivedi profile.html
RewriteRule ^faheemzunjani profile.html
RewriteRule ^Get*...*ReD profile.html
RewriteRule ^i'M_Rakshit profile.html
RewriteRule ^Madridista profile.html
RewriteRule ^Pen_and_Prafull profile.html
RewriteRule ^Piyush profile.html
RewriteRule ^radix profile.html
RewriteRule ^Somendra profile.html
RewriteRule ^sud0 profile.html
RewriteRule ^WickedBrat profile.html
RewriteRule ^ashutosh profile.html
RewriteRule ^Aswanth profile.html
RewriteRule ^avb profile.html
RewriteRule ^Ayushi profile.html
RewriteRule ^BelieveC profile.html
RewriteRule ^boost_insane profile.html
RewriteRule ^chawla_1209 profile.html
RewriteRule ^GAURAV profile.html
RewriteRule ^headshooter profile.html
RewriteRule ^Mankar profile.html
RewriteRule ^Nandan profile.html
RewriteRule ^niharikaxx profile.html
RewriteRule ^Pradeep profile.html
RewriteRule ^RGHVNDRA profile.html
RewriteRule ^Shubhi_Khandelwal profile.html
RewriteRule ^SiriusDagar profile.html
RewriteRule ^SUBHAM profile.html
RewriteRule ^thelittlewonder profile.html
RewriteRule ^betterclever profile.html
RewriteRule ^Praneetha profile.html
RewriteRule ^Srishti profile.html
RewriteRule ^akshatj profile.html
RewriteRule ^fiscallyFit profile.html
RewriteRule ^Garuda profile.html
RewriteRule ^pradeepgangwar profile.html
RewriteRule ^rohit profile.html
RewriteRule ^shreyanshgeek profile.html
RewriteRule ^theCrazyOne profile.html
RewriteRule ^aotoge profile.html
RewriteRule ^CosmicCoder96 profile.html
RewriteRule ^Sashank profile.html
