@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
	padding:0;
}
#login-form
{
	margin-top:-160px;
}
  table.center {
      width:60%; 
    margin-left:50%; 
    margin-right:5%;
  }
  form.center {
      width:70%; 
    margin-left:15%; 
    margin-right:15%;
  }

    body {text-align:center;}

table
{
	border:solid #dcdcdc 0px;
	padding-left:40px;
	vertical-align: center;
	margin:auto;
	position: relative;
	margin-left: 370px;
	margin-right:350px;
	background :transparent;
	box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}
table tr,td
{
	padding:15px;
	//border:solid #e1e1e1 1px;
}
table tr td input
{
	width:97%;
	height:45px;
	border:solid #e1e1e1 1px;
	border-radius:3px;
	padding-left:10px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:16px;
	background:#f9f9f9;
	transition-duration:0.5s;
	box-shadow: inset 0px 0px 1px rgba(0,0,0,0.4);
}

table tr td button
{
	width:100%;
	height:45px;
	border:0px;
	background:#000;
	background:-moz-linear-gradient(top, #595959 , #515151);
	border-radius:3px;
	box-shadow: 1px 1px 1px rgba(1,0,0,0.2);
	color: #eee;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
	font-weight:bolder;
	
}
table tr td button:active
{
	position:relative;
	top:1px;
}
table tr td a
{
	text-decoration:none;
	color:#00a2d1;
	font-family:Verdana, Geneva, sans-serif;
	font-size:18px;
}

/* css for home page  */

*
{
	margin:0;
	padding:0;
}
#header
{
	width:100%;
	height:60px;
	background:rgba(00,11,22,33);
	color:#9fa8b0;
	font-family:Verdana, Geneva, sans-serif;
}
#header #left
{
	float:left;
	position:relative;
}
#header #left label
{
	position:relative;
	top:5px;
	left:100px;
	font-size:35px;
}
#header #right
{
	float:right;
	position:relative;
}
#header #right #content
{
	position:relative;
	top:20px;
	right:100px;
	color:#fff;
}
#header #right #content a
{
	color:#00a2d1;
}
.central {
  background-image:url("2n18j89.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

#body
{
	text-align:center;
	margin-top:150px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:36px;
}

/* css for home page */
.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

@font-face {
  font-family: 'fontello';
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot');
  src: url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.eot?#iefix') format('embedded-opentype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.woff') format('woff'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.ttf') format('truetype'),
       url('http://css-tricks.com/examples/RoundButtons/fonts/fontello.svg#fontello') format('svg');
  font-weight: normal; font-style: normal;
}

[class*="icon-"] {
  font-family: 'fontello';
  font-style: normal;
  font-size: 3em;
  speak: none;
}

.icon-home:after     { content: "\2302"; } 
.icon-cog:after      { content: "\2699"; } 
.icon-cw:after       { content: "\27f3"; } 
.icon-location:after { content: "\e724"; } 

* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing:    border-box; 
  box-sizing:         border-box; 
  margin: 0;
  padding: 0;
}

html {
  background: #f7f7f7 url(http://css-tricks.com/examples/RoundButtons/images/bg.png) repeat center top;
}

.nav {
  list-style: none;
  text-align: center;
}

.nav li {
  position: relative;
  display: inline-block;
  margin-right: -4px;
}

.nav li:before {
  content: "";
  display: block;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: -1;
}

.nav a:link, .nav a:visited {
  display: block;
  text-decoration: none;
  background-color: #f7f7f7;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
  color: #a7a7a7;
  margin: 36px;
  margin-left: -360px;

  width: 144px;
  height: 144px;
  position: relative;
  text-align: center;
  line-height: 144px;
  border-radius: 50%;
  box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
  border: solid 1px transparent;
}

.nav a:before {
  content: "";
  display: block;
  background: #fff;
  border-top: 2px solid #ddd;
  position: absolute;
  top: -18px;
  left: -18px;
  bottom: -18px;
  right: -18px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: inset 0px 8px 48px #ddd;
}

.nav a:active {
  box-shadow: 0px 3px 4px #aaa inset, 0px 2px 3px #fff;
}

.nav a:hover {
  text-decoration: none;
  color: #555;
  background: #f5f5f5;
}​
 