.event_container * {
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	list-style: none;
}

.event_component {
	position: absolute;
	bottom: 46%;
	left: 8%;
	font-family: 'Lato', Arial, sans-serif;
}

.event_component > h2 {
	position: absolute;
	overflow: hidden;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	font-weight: 500;
	font-size: 15em;
	opacity: 0.5;
	cursor: default;
}

#ring-content .game-container {
    
	font-size: 4em;
    line-height: 70px;
    padding-top: 1.8em;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 1px #fff,0 1px 2px rgba(0,0,0,.3);
    transition: all .7s ease-in-out;
}

#rings {
    position: absolute;
	right:12em;
	bottom:-12em;
    text-align: center;
    width: 300px;
    height: 300px;
    margin:0 auto;
    -webkit-tap-highlight-color: transparent;
}

#first-ring {
    position: absolute;
    border: 5px solid #4698f2;
    border-top-color: #eee;
    margin: 0 auto;
    text-align: center;
    width: 280px;
    height: 280px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_clockwise 10s infinite;
    -moz-animation: turn_clockwise 10s infinite;
    animation: turn_clockwise 10s infinite;   
}

#second-ring {
    position: absolute;
    border: 10px solid #eee;
    border-top-color: #fff;
    border-bottom-color: #fff;
    width: 250px;
    height: 250px;
    margin: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_counter_clockwise 8s infinite;
    -moz-animation: turn_counter_clockwise 8s infinite;
    animation: turn_counter_clockwise 8s infinite;  
}

#third-ring {
    position: absolute;
    border: 2px solid #315379;
    border-bottom-color: #eee;
    margin: 5px;
    width: 236px;
    height: 236px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: turn_clockwise 10s infinite;
    -moz-animation: turn_clockwise 10s infinite;
    animation: turn_clockwise 10s infinite;
}

@-webkit-keyframes turn_clockwise {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes turn_clockwise {
    0% {
        -moz-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes turn_clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes turn_counter_clockwise {
    0% {
        -webkit-transform: rotate(360deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-moz-keyframes turn_counter_clockwise {
    0% {
        -moz-transform: rotate(360deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@keyframes turn_counter_clockwise {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(0deg);   
    }   
}

#ring-content {
    position: absolute;
    width: 230px;
    height: 230px;
    background-color: #4698f2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 30px;
    cursor: pointer;
    box-shadow: inset 0 0 0 16px rgba(255,255,255,.6),0 1px 2px rgba(0,0,0,.1);
    transition: all .4s ease-in-out;
}

#ring-content:hover {
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.1),0 1px 2px rgba(0,0,0,.1);
}


.show-elec {
display:none;

background: url('../img-portfolio/tesla.png');
background-size:cover;
position: absolute;
left: 12em;
width:42em;
height:23em;
top: -10.3em;
font-size: 2em;
opacity:1;
}
.show-elec .content{
color:#000;
opacity:1;
margin: 2em 2em 0em 2em;
}
.show-net {
display:none;
background: url('../img-portfolio/foss.png');
background-size:cover;
position: absolute;
left: 12em;
width:42em;
height:23em;
top: -10.3em;
font-size: 2em;
opacity:1;
}
.show-net .content {
color:#000;
opacity:1;
margin: 2em 2em 0em 2em;
}
.show-code {
display:none;
background: url('../img-portfolio/foss.png');
background-size:cover;
position: absolute;
left: 12em;
width:42em;
height:23em;
top: -10.3em;
font-size: 2em;
opacity:1;
}
.show-code .content {
color:#000;
opacity:1;
margin: 2em 2em 0em 2em;
}
.show-robo{
display:none;
background: url('../img-portfolio/foss.png');
background-size:cover;
position: absolute;
left: 12em;
width:42em;
height:23em;
top: -10.3em;
font-size: 2em;
opacity:1
}
.show-robo .content {
color:#000;
opacity:1;
margin: 2em 2em 0em 2em;
}
.show-dev {
display:none;
background: url('../img-portfolio/foss.png');
background-size:cover;
position: absolute;
left: 12em;
width:42em;
height:23em;
top: -10.3em;
font-size: 2em;
opacity:1;
}
.show-dev .content {
color:#000;
opacity:1;
margin: 2em 2em 0em 2em;
}
.show-quiz {
display:none;
background: url('../img-portfolio/foss.png');
background-size:cover;
position: absolute;
left: 12em;
width:42em;
height:23em;
top: -10.3em;
font-size: 2em;
opacity:1;
}
.show-quiz .content {
color:#000;
opacity:1;
margin: 2em 2em 0em 2em;
}
.show-misc {
display:none;
background: url('../img-portfolio/foss.png');
background-size:cover;
position: absolute;
left: 12em;
width:42em;
height:23em;
top: -10.3em;
font-size: 2em;
opacity:1;
}
.show-misc .content{
color:#000;
opacity:1;
margin: 2em 2em 0em 2em;
}

.gaming {
position: absolute;
bottom: -24%;
right: -12%;
width: 40em;
background-color: green;
height: 40em;
border-radius: 50%;
}

.heading-game {
left: 1em;
font-size: 3em;
transform: rotate(-44deg);
-webkit-transform: rotate(-44deg);
-ms-transform: rotate(-44deg);
-moz-transform: rotate(-44deg);
font-weight: bold;
}

.cn-button {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 11;
	margin-top: -4.25em;
	margin-left: -4.75em;
	padding-top: 0em;
	width: 9.5em;
	height: 9.5em;
	border: none;
	border-radius: 50%;
	background: -moz-radial-gradient(center, ellipse cover, white 0%, #4BC67F  100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #4BC67F ));
background: -webkit-radial-gradient(center, ellipse cover, white 0%, #4BC67F  100%);
background: -o-radial-gradient(center, ellipse cover, white 0%, #4BC67F  100%);
background: -ms-radial-gradient(center, ellipse cover, white 0%, #4BC67F  100%);
background: radial-gradient(ellipse at center, white 0%, #4BC67F  100%);
	background-color: rgba(0,0,0,0.05);
	color: #428C60;
	text-align: center;
	font-weight: 700;
	font-size: 1.5em;
	text-transform: uppercase;
	cursor: pointer;
	-webkit-backface-visibility: hidden;
}

.csstransforms .cn-wrapper {
	position: absolute;
	top: 100%;
	left: 50%;
	z-index: 10;
	margin-top: -13em;
	margin-left: -13.5em;
	width: 27em;
	height: 27em;
	border-radius: 50%;
	background: transparent;
	opacity: 0;
	-webkit-transition: all .3s ease 0.3s;
	-moz-transition: all .3s ease 0.3s;
	transition: all .3s ease 0.3s;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	-moz-transform: scale(0.1);
	transform: scale(0.1);
	pointer-events: none;
	overflow: hidden;
}

/*cover to prevent extra space of anchors from being clickable*/
.csstransforms .cn-wrapper:after{
  content:".";
  display:block;
  font-size:2em;
  width:6.2em;
  height:6.2em;
  position: absolute;
  left: 50%;
  margin-left: -3.1em;
  top:50%;
  margin-top: -3.1em;
  border-radius: 50%;
  z-index:10;
  color: transparent;
}

.csstransforms .opened-nav {
	border-radius: 50%;
	opacity: 1;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: rotate(90deg) scale(1.75);
	-moz-transform: rotate(90deg) scale(1.75);
	-ms-transform: rotate(90deg) scale(1.75);
	transform: rotate(90deg) scale(1.75);
	pointer-events: auto;
}

.csstransforms .cn-wrapper li {
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	margin-top: -1.3em;
	margin-left: -10em;
	width: 10em;
	height: 10em;
	font-size: 1.5em;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
	pointer-events: none;
}

.csstransforms .cn-wrapper li a {
	position: absolute;
	right: -7.25em;
	bottom: -7.25em;
	display: block;
	width: 14.5em;
	height: 14.5em;
	border-radius: 50%;
	background: #429a67;
	background: -webkit-radial-gradient(transparent 35%, #4BC67F 35%);
	background: -moz-radial-gradient(transparent 35%, #4BC67F 35%);
	background: radial-gradient(transparent 35%, #4BC67F 35%);
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-size: 1.2em;
	line-height: 2;
	-webkit-transform: skew(-60deg) rotate(-75deg) scale(1);
	-moz-transform: skew(-60deg) rotate(-75deg) scale(1);
	-ms-transform: skew(-60deg) rotate(-75deg) scale(1);
	transform: skew(-60deg) rotate(-75deg) scale(1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	pointer-events: auto;
}

.csstransforms .cn-wrapper li a span {
	position: relative;
	top: 1.8em;
	display: block;
	font-size: .5em;
	font-weight: 700;
	text-transform: uppercase;
}

.csstransforms .cn-wrapper li a:hover,
.csstransforms .cn-wrapper li a:active,
.csstransforms .cn-wrapper li a:focus {
	background: -webkit-radial-gradient(transparent 35%, #449e6a 35%);
	background: -moz-radial-gradient(transparent 35%, #449e6a 35%);
	background: radial-gradient(transparent 35%, #449e6a 35%);
}
.csstransforms .cn-wrapper li a:focus {
    position: fixed; /* fix the displacement bug in webkit browsers when using tab key */
}

.csstransforms .opened-nav li {
	-webkit-transition: all .3s ease .3s;
	-moz-transition: all .3s ease .3s;
	transition: all .3s ease .3s;
}

.csstransforms .opened-nav li:first-child {
	-webkit-transform: rotate(-20deg) skew(60deg);
	-moz-transform: rotate(-20deg) skew(60deg);
	-ms-transform: rotate(-20deg) skew(60deg);
	transform: rotate(-20deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(2) {
	-webkit-transform: rotate(12deg) skew(60deg);
	-moz-transform: rotate(12deg) skew(60deg);
	-ms-transform: rotate(12deg) skew(60deg);
	transform: rotate(12deg) skew(60deg);
}

.csstransforms .opened-nav  li:nth-child(3) {
	-webkit-transform: rotate(44deg) skew(60deg);
	-moz-transform: rotate(44deg) skew(60deg);
	-ms-transform: rotate(44deg) skew(60deg);
	transform: rotate(44deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(4) {
	-webkit-transform: rotate(76deg) skew(60deg);
	-moz-transform: rotate(76deg) skew(60deg);
	-ms-transform: rotate(76deg) skew(60deg);
	transform: rotate(76deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(5) {
	-webkit-transform: rotate(108deg) skew(60deg);
	-moz-transform: rotate(108deg) skew(60deg);
	-ms-transform: rotate(108deg) skew(60deg);
	transform: rotate(108deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(6) {
	-webkit-transform: rotate(140deg) skew(60deg);
	-moz-transform: rotate(140deg) skew(60deg);
	-ms-transform: rotate(140deg) skew(60deg);
	transform: rotate(140deg) skew(60deg);
}

.csstransforms .opened-nav li:nth-child(7) {
	-webkit-transform: rotate(172deg) skew(60deg);
	-moz-transform: rotate(172deg) skew(60deg);
	-ms-transform: rotate(172deg) skew(60deg);
	transform: rotate(172deg) skew(60deg);
}
.no-csstransforms .cn-wrapper {
	overflow: hidden;
	margin: 10em auto;
	padding: .5em;
	text-align: center;
}

.no-csstransforms .cn-wrapper ul {
	display: inline-block;
}

.no-csstransforms .cn-wrapper li {
	float: left;
	width: 5em;
	height: 5em;
	background-color: #fff;
	text-align: center;
	font-size: 1em;
	line-height: 5em;
}

.no-csstransforms .cn-wrapper li a {
	display: block;
	width: 100%;
	height: 100%;
	color: inherit;
	text-decoration: none;
}

.no-csstransforms .cn-wrapper li a:hover,
.no-csstransforms .cn-wrapper li a:active,
.no-csstransforms .cn-wrapper li a:focus {
	background-color: #f8f8f8;
}

.no-csstransforms .cn-wrapper li.active a{
	background-color: #6F325C;
	color: #fff;
}

.no-csstransforms .cn-button {
	display: none;
}

@media only screen and (max-width: 620px) {
	.no-csstransforms li {
		width: 4em;
		height: 4em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 500px) {
	.no-ccstransforms .cn-wrapper {
		padding: .5em;
	}

	.no-csstransforms .cn-wrapper li {
		width: 4em;
		height: 4em;
		font-size: .9em;
		line-height: 4em;
	}
}

@media only screen and (max-width: 480px) {
	.csstransforms .cn-wrapper {
		font-size: .68em;
	}

	.cn-button {
		font-size: 1em;
	}
}

@media only screen and (max-width:420px) {
	.no-csstransforms .cn-wrapper li {
		width: 100%;
		height: 3em;
		line-height: 3em;
	}
}
