@font-face{
	font-family: 'merkur';
	src: url('../font/Merkur.ttf') format('truetype');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	height: 100%;
	min-height: 500px;
	background: black;
	display: flex;
}

body{
	width: 100%;
	height: 100%;
	/*min-height: 500px;*/
	/*min-width: 1200px;*/
	display: flex;
	/*overflow: hidden;*/
	background: black;
	background-size: 100% 100%;
}
#website-loader{
	position:absolute;
	width:100%;
	height:100%;
	max-height: 800px;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	background-color: white;
	color:black;
	z-index:1000000000;
	font-size: 25px;
}
#website-loader>img{
	width:5%;
	/*margin-top: 30px;*/
}
#website-loader>span{
	margin-top: 100px;
	font-size: 14px;
}
.layer{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

#background{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: black;
	z-index: 1;
	overflow: hidden;
	background-image: url('../images/aparoksha.gif');
	background-size: 100% 100%;
}

#content{
	z-index: 1;
	overflow: hidden;
}

@media(max-width: 1280px){
	html{
		overflow: scroll;
	}
	body{
		width: 1300px;
		height: 628px;
	}

	.layer{
		width: 1300px;
		height: 628px;
	}
}	

.scale{ /*Refers to right and left border images*/
	position: absolute;
	top: 0;
	height: 100%;
	width: auto;
}

.scale img{
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: 100%;
}

.scale#left{
	left: 0;
}

.scale#right{
	right: 0;
	transform: rotateY(180deg);
}

#bottom{
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 6;
	background: url("../images/HUDImages/bottomdock.png") no-repeat center bottom;
	background-size: 100% auto;
	width : 100%;
	height: 13%;
}	

#dock{
	display: flex;
	position: relative;
	margin: 0 auto;
	width: 70%;
	height: 100%;
	/*border: 1px solid white;*/
}

#dock-elements{
	position: absolute;
	top: 0px;
	left: 27%;
	width: 48%;
	height: 70%;
	/*border: 1px solid white;*/
}

.dock-element{
	position: absolute;
	width: 35px;
	height: 35px;
	font-family: "Intro";
	font-size: 2.5em;
	color: white;
	opacity: 1;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}


.dock-element:hover{
	opacity: 1;
}

.dock-element p{
	position: absolute;
	display: none;
	font-family: "Intro","Trebuchet MS";
	font-size: 0.7em;
	width: 200px;
	color: #65DEDE;
	height: 30px;
	top: -40px;
	left: -80px;
}

.dock-element img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*border-radius: 50%;*/
}

.dock-element.one{
	bottom: 0px;
	left: calc(0%);
}

.dock-element.two{
	bottom: 7px;
	left: 19%;
}

.dock-element.three{
	bottom: 10px;
	left: 38%;
}

.dock-element.four{
	bottom: 10px;
	left: 58%;
}

.dock-element.five{
	bottom: 7px;
	left: 75%;
}

.dock-element.six{
	bottom: 0px;
	left: calc(100% - 35px);
}

.dock-element.active{
	top: 10px;
	background: transparent;
	left: 25%;
	width: 50%;
	height: 50px;
	border-radius: 0px;
}

.dock-element.active p{
	display: block;
	height: 100%;
	text-align: center;
	font: 2.5em "Showcard Gothic";
	color: white;
}

.roue-law-2 { /*The rings rotating alongside the aparoksha icon*/
	position: absolute;
	padding: 0;
	z-index : 10;
	top: -90px;
	left: -90px;
	min-height: 150px;
	min-width: 150px;
	width: 300px;
	height: 300px;
}

.roue-law-2 > div {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 300px;
	height: 300px;
}

.roue-law-2 .roue-1 {
	background:url("../images/HUDImages/2-roue-1.png") center center no-repeat;
	background-size: 100% 100%;
}
.roue-law-2 .roue-2 {
	background:url("../images/HUDImages/2-roue-2.png") center center no-repeat;
	background-size: 100% 100%;
}
.roue-law-2 .roue-3 {
	background:url("../images/HUDImages/2-roue-3.png") center center no-repeat;
	background-size: 100% 100%;
}
.roue-law-2 .roue-4 {
	background:url("../images/HUDImages/2-roue-4.png") center center no-repeat;
	background-size: 100% 100%;
}

.roue-law-2 .roue-1 {
  -webkit-animation:20s rotateInverse360 infinite linear;
  -moz-animation:20s rotateInverse360 infinite linear;
  -ms-animation:20s rotateInverse360 infinite linear;
  -o-animation:20s rotateInverse360 infinite linear;
  animation:20s rotateInverse360 infinite linear;
}
.roue-law-2 .roue-2 {
  -webkit-animation:20s roue-11 infinite ease-in-out;
  -moz-animation:20s roue-11 infinite ease-in-out;
  -ms-animation:20s roue-11 infinite ease-in-out;
  -o-animation:20s roue-11 infinite ease-in-out;
  animation:20s roue-11 infinite ease-in-out;
}
.roue-law-2 .roue-3 {
  -webkit-animation:50s rotate360 infinite linear;
  -moz-animation:50s rotate360 infinite linear;
  -ms-animation:50s rotate360 infinite linear;
  -o-animation:50s rotate360 infinite linear;
  animation:50s rotate360 infinite linear;
}
.roue-law-2 .roue-4 {
  -webkit-animation:25s rotateInverse360 infinite linear;
  -moz-animation:25s rotateInverse360 infinite linear;
  -ms-animation:25s rotateInverse360 infinite linear;
  -o-animation:25s rotateInverse360 infinite linear;
  animation:25s rotateInverse360 infinite linear;
}

.roue-law-2 .aparokshaicon{
	display: block;
	margin: 100px;
	width: 100px;
	height: 100px;
	z-index: 10;
	background: url("../images/HUDImages/aparoksha-1.png") no-repeat center center;
	background-size:  100% 100%;
}

.roue-law-2 .aparokshaicon a{
	display: block;
	width: 100%;
	height: 100%;
}

#stats-window{
	display: flex;
	flex-direction: row;
	justify-content: ;
	position: absolute;
	top: 10px;
	right: 0;
	width: 400px;
	height: 70px;
}

#terminal-wrapper{
	position: relative;
	width: 240px;
	height: 100%;
	overflow: hidden;
	background: rgba(15,15,15,0.2);
	/*background: url("../images/pattern1.png") top left;*/
	/*background-size: 10px 10px;*/
	/*border: 1px solid rgba(40,40,40,1);*/
	border: 1px solid skyblue;
	border-width: 0px 0px 0px 1px;
}

#terminal{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: top;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	padding: 0px 10px;	
	overflow-y:scroll; 
	overflow-x: hidden; 
}

#terminal p{
	font-family: "Segoe UI Light";
	height: auto;
	margin-bottom: 4px;
	font-size: 9px;
	color: white;
	text-indent: 3px;
}

#stats-graph{
	position: relative;
	width: 90px;
	height: 100%;
	margin: 0px 25px;
	background: url("../images/HUDImages/pattern1.png") top left;
	background-size: 10px 10px;
	border: 1px solid rgba(40,40,40,1);
	border-width: 0px 0px 1px 1px;
}

#stats-graph img{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
}

#loadcontenthere{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:100%;
	height:100%;
}

/*---------------------------------------- Styles for Home page ----------------------------------------*/
div#home-background{
	position: absolute;
	top: 0;
	left : 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/aparoksha.gif');
	background-size: 100% 100%;	z-index: -2;
}

#home-page-details{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 200px;
	margin-top: -90px;
}

#aparoksha{
	width: 100%;
	color: white;
	font-size: 10em;
	font-family: 'merkur';
	text-align: center;
}

#aparoksha-dates{
	width: 100%;
	color: white;
	font-size: 2.4em;
	font-weight: 900;
	text-indent: 500px;
	text-align: center;
}


/*---------------------------------------- Styles for Events page ----------------------------------------*/
#events{
	position: relative;/*required for positioning the modal window relative to this div*/
	display: flex;
	align-self: center;
	width: 78%; 
	height: 73%;
	margin: 0px auto;
	/*border: 1px solid white;*/
}

section#ap-events{
	margin: 0;
	width: 100%;
	margin-top: 0px; 
	height: 100%;
	animation: loadUp 2s ease-in forwards;
}

@keyframes loadUp{
	0%{ opacity: 0}
	100%{ opacity: 1}
}

#ap-events-wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0px auto;
}

#ap-events-nav{
	display: flex;
	flex-direction : row;
	justify-content: center;
	margin-bottom: 10px;
	list-style: none;	
	height: 20px;
}

#ap-events-nav li{
	position: relative;
	display: flex;
	height: 100%;
	flex-grow : 1;
}

#ap-events-nav li a{
	position: absolute;
	top: calc(50% - 10px);
	left: calc(50% - 100px);
	width: 200px;
	height: 20px;
	line-height: 20px;
	font-size: 20px;
	overflow: hidden;
	color: #ececec;
	/*color: transparent;
	background: #0E7C9E;*/
	text-align: center;
	font-family: "Intro";
	text-decoration: none;
	will-change: width, color, position;
	transition: all 0.3s ease-out;
}

#ap-events-nav li.active a,
#ap-events-nav li a.temp-active{
	left: calc(50% - 100px);
	width: 200px;
	color: #d2d7d3;
	background: transparent;
}

#ap-events-nav li a.temp-inactive,
#ap-events-nav li.active a.temp-inactive{
	left: calc(50% - 10px);
	width: 20px;
	background: #0E7C9E;
}

#ap-events-container{
	position: relative;
	display: flex;
	margin-top: 0px;
	height: calc(100% - 20px);
	/*overflow-y: scroll;*/
	overflow-x: hidden;
}

div.ap-event-category{
	position: absolute;
	display: none;
	flex: row ;
	flex-wrap: wrap;
	top: 0;
	left: 0;
	display: none;
	/*border: 1px solid white;*/
}

div.ap-event-category.active{
	display: flex;
}

.ap-event{
	height: 19rem;
	width: 24rem;
	margin: 20px 40px;
	opacity: 0.7;
	cursor: pointer;
	-webkit-filter: blur(0px);
    background-color: rgba(28, 45, 60, 1);
    /*transition: -webkit-filter 1s;*/
}

.ap-event img{
	display: flex;
	width: 100%;
	height: 100%;
}
.ap-event.red{
	background: red;
}

.ap-event:hover{
	-webkit-filter: blur(2px);
}

#modal-window{
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	z-index: 12;
	perspective: 800px;
	/*border: 1px solid white;*/
}

#modal-window.on{
	display: flex;
}

#modal-window-wrapper{
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background: rgba(13, 49, 78,1);
	will-change: opacity,transform;
}

#modal-window.on #modal-window-wrapper{
	animation: loadModalWindow 0.5s forwards ease-in;
}

#modal-window-wrapper.hide{
	animation: hideModalWindow 0.5s forwards ease-out !important;	
}

@keyframes loadModalWindow{
	0%{
		opacity: 0;
		transform: translateZ(150px);
	}
	100%{
		opacity: 1;
		transform: translateZ(0px);
	}
}

@keyframes hideModalWindow{
	0%{
		opacity: 1;
		transform: translateZ(0px);
	}
	100%{
		opacity: 0;
		transform: translateZ(150px);
	}
}

span#close-modal{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 30px;
	height: 30px;
	cursor: pointer;
}

span#close-modal:before,span#close-modal:after{
	content: "";
	position: absolute;
	top: 50%;
	left: -1px;
	width: 100%;
	border: 1px solid white;
}

span#close-modal:before{
	transform: rotateZ(45deg);
}

span#close-modal:after{
	transform: rotateZ(-45deg);
}

#modal-window-wrapper header{
	display: flex;
	flex: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	background : url(../images/computerCodeBack.jpg) top left;
	/*background : url(../images/electronicsHeaderBack.jpg) top left;*/
	background-size: 250px 250px;
}

#modal-window-wrapper header p{
	width: 100%;
	height: auto;
	font-size: 5em;
	font-family: "Intro";
	color: white;
	/*color: rgba(38, 100, 138 ,1);*/
	text-align: center;
}

#modal-window-wrapper .event-brief-info{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#modal-window-wrapper .event-brief-info .event-info{
	display: block;
	width: 100%;
	height: auto;
}

#modal-window-wrapper .event-brief-info .event-info h2{
	display: flex;
	margin :0px auto;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 3em;
	font-family: "Segoe UI Light","Intro";
	color: white;
	font-size: 3.2em;
	border-bottom: 2px solid skyblue;
	border-radius: 2px;
	clear: right;
}

#modal-window-wrapper .event-brief-info .event-info p{
	width: 100%;
	height: auto;
	padding: 20px 40px;
	font-size: 1.8em;
	font-family: "Segoe UI Light";
	color: white;
	text-align: center
}

#modal-window-wrapper .event-brief-info .event-organizer-info{

}

/*---------------------------------------- Styles for Workshops page ----------------------------------------*/

#box{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    overflow: hidden;
    animation: loadUp 3s ease-in forwards;
}

#slides{
    perspective: 800px;
}

.each{
    position:absolute;
    width:100%;
    height:100%;
    background-color:#012D2D;
    transform: rotateY(0deg);
    color:white;
    overflow-y:auto;
}

#slides{
    width:55%;
    height:60%;
    margin: auto auto;
}

#options{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:20%;
    margin-left:auto;
    perspective: 1000px;
}

#each1{
	z-index:2;
	margin-left:200px;
	transition: all 0.5s linear;  
}

#each2{
	position:absolute;
	opacity:0.5;
	margin-left: 150px;
	transform: rotateY(0deg) translateZ(-500px);
	transition: all 0.5s linear;
}

#workshop1button, #workshop2button{
	width:70%;
	cursor: pointer;
}
.workshop-head{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	height:100px;
	background-color: #193D3D;
	font-size:30px;
	color:white;
	font-weight: 900;
	width:100%;
}
.workshop-column{
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:center;
}
.workshop-column-head{
	width:85%;
	text-align: center;
	padding:10px;
	border-bottom: 2px solid white;
	font-size: 25px;
	font-weight: 800;
}
.workshop-column-body{
	padding:10px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}
/*---------------------------------------- Styles for Contacts page ----------------------------------------*/
.contacts{
	display: flex;
	width: 78%; 
	height: 75%;
	margin: 0px auto;
}

.contacts ul.contact-list{
	display: flex;
	position: relative;
	list-style: none;
	width: 100%;
	height: 100%;
}

.contacts ul.contact-list li.group{
	position: absolute;
	visibility: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	opacity: 0;
	top :0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: visibility 0.1s,opacity 2s;
}

.contacts ul.contact-list li.group.on{
	visibility: visible;
	opacity: 1;
}

li.group div.contact-card{
	width: 320px;
	height: 93%;
	transition: margin 0.5s;
}

li.group div.contact-card:first-child{
	margin-right: 40px;
}

li.group div.contact-card:last-child{
	margin-left: 40px;
}

li.group .contact-card span{
	display: block;
	margin: 0px auto 10px auto;
	width: 100%;
}

li.group .contact-card .contact-pic{
	position: relative;
	width: 74%;
	height: 70%;
	margin: 10px auto 10px auto;
}

li.group .contact-card .contact-pic img {
	position: relative;
	display: block;
	height: 100%;
	/*z-index required for solidTiles*/
	z-index: 9;
	width: 100%;
}

li.group .contact-card .contact-details{
	font-family: "Intro";
	font-size: 18px;
	font-weight: bold;
	color: white;
}


/*div.contacts span.group-control{
	position: absolute;
	top: 50%;
	width: 150px;
	height: 50px;
	cursor: pointer;
	z-index: 3;
}

div.contacts .group-control.prev{
	left: 10px;
	background: url("../images/Contact/leftarrow.png") center left no-repeat;
	background-size: auto 50px;
}

div.contacts .group-control.next{
	left:calc( 100% - 162px);
	background: url("../images/Contact/rightarrow.png") center right no-repeat;
	background-size: auto 50px;
}

div.contacts span.group-control p{
	position: absolute;
	top: 0px;
	width: 100px;
	height: 100%;
	font-family: "Intro";
	font-size: 12px;
	color: white;
	text-align: center;
}

div.contacts span.group-control.prev p{
	left: 50px;
}

div.contacts span.group-control.next p{
	left: 0px;
}*/

div.contacts span.group-control{
	position: absolute;
	display: flex;
	top: 56%;
	width: 75px;
	height: 75px;
	cursor: pointer;
	z-index: 3;
}

div.contacts .group-control.prev{
	left: 25px;
	background: url("../images/Contact/control3.png") center center no-repeat;
	background-size: auto 75px;
}

div.contacts .group-control.next{
	left:calc( 100% - 100px);
	background: url("../images/Contact/control3mirror.png") center center no-repeat;
	background-size: auto 75px;
	text-indent: 15px;
}

div.contacts span.group-control.hide{
	display: none;
}

div.contacts span.group-control p{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	font-family: "Intro";
	font-size: 12px;
	color: white;
}

@media(max-width: 1100px){
	li.group div.contact-card:first-child{
		margin-right: 20px;
	}

	li.group div.contact-card:last-child{
		margin-left: 20px;
	}
}
