             input {
		  font-size: large;
		  margin-bottom:15px;
		  margin-top:15px;
		  margin-right:;
		  padding:7px 7px;
		  color:#4a4a4a;
		  float:left;
		  outline:0;
		  background-color:#f1f1f1;
		  border:3px solid #b2b2b2;
		  padding:7px;
	    }
	    input:focus {
		  border:3px solid #37c6f4;
	    }
	    input#submit {
		  cursor:pointer;
		  background-color:#37c6f4;
		  color:#fff;
	    }
	    input#submit:hover {
		  background:#393939;
		  background:-moz-radial-gradient(center, ellipse cover, rgba(55, 198, 244, 1) 0, rgba(9, 134, 229, 1) 100%);
		  background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(55, 198, 244, 1)), color-stop(100%, rgba(9, 134, 229, 1)));
		  background:-webkit-radial-gradient(center, ellipse cover, rgba(55, 198, 244, 1) 0, rgba(9, 134, 229, 1) 100%);
		  background:-o-radial-gradient(center, ellipse cover, rgba(55, 198, 244, 1) 0, rgba(9, 134, 229, 1) 100%);
		  background:-ms-radial-gradient(center, ellipse cover, rgba(55, 198, 244, 1) 0, rgba(9, 134, 229, 1) 100%);
		  background:radial-gradient(ellipse at center, rgba(55, 198, 244, 1) 0, rgba(9, 134, 229, 1) 100%);
	    }