  html { 
                   background: url(../images/bg5.jpg) no-repeat center center fixed; 
                   -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                background-size: cover;
              }




#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img/s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 60%;
	z-index:1;
	-webkit-animation: snow 50s linear infinite;
	-moz-animation: snow 50s linear infinite;
	-ms-animation: snow 50s linear infinite;
	animation: snow 50s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
#mainimg
{
	postion:absolute;
	margin-left: 220px;
	margin-top:30px;
	padding-left: : 100px;
}
#mainfield
{
	postion:absolute;
	margin-left: 220px;

	padding-left:100px;
	z-index:100;
	color:white;
}
#mainbutton
{
	postion:absolute;
	margin-left: 25px;
	
	padding-left:10px;
	
}
@media only screen and (max-width: 992px)
.side-nav.fixed {
    left: 0%;
}
